pkgbase = wsl-vpnkit
	pkgdesc = Provides network connectivity to WSL 2 when blocked by VPN
	pkgver = 0.8.9
	pkgrel = 1
	url = https://github.com/sakai135/wsl-vpnkit
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	depends = iproute2
	depends = iptables
	source = git+https://github.com/containers/gvisor-tap-vsock.git#tag=v0.8.9
	source = 80-wsltap.network
	source = wsl-vpnkit.service
	source = wsl-vpnkit-fw
	sha256sums = f9043cc5fd3f38ddb7a8844132f63b31e9e88e9d74043fe887a4bcb07b33da32
	sha256sums = 2dbcf00888c7606c1fcd26fff84db2df5aca64c77f0c61f743951c3fb59b1027
	sha256sums = 613ef62cb1e9989ab93af7933719749c5aa3fbaa877efa49b64a9c7d7866c46b
	sha256sums = 4c0a89942bb2c13a09cbede93ed66659207c69591e754bff1c9e749e57efa589

pkgname = wsl-vpnkit
