[Match]
Name=wsltap
Virtualization=wsl

[Link]
MACAddress=5a:94:ef:e4:0c:ee
MTUBytes=1500
RequiredForOnline=no

[Network]
Address=192.168.127.2/24
DNS=192.168.127.1
DNSDefaultRoute=yes

[Route]
Gateway=192.168.127.1
Metric=10

[Route]
Gateway=192.168.127.1
Destination=0.0.0.0/1
Metric=10

[Route]
Gateway=192.168.127.1
Destination=128.0.0.0/1
Metric=10
