pkgbase = wine-wow64-ntsync-minimal
	pkgdesc = A compatibility layer for running Windows programs (minimal Wow64 with NTSync)
	pkgver = 9.2
	pkgrel = 1
	url = https://www.winehq.org
	arch = x86_64
	license = LGPL
	makedepends = mingw-w64-gcc
	makedepends = ntsync-header
	depends = libpcap
	depends = libunwind
	depends = libx11
	depends = libxext
	provides = wine=9.2
	conflicts = wine
	options = !lto
	source = https://dl.winehq.org/wine/source/9.x/wine-9.2.tar.xz
	source = https://raw.githubusercontent.com/Frogging-Family/wine-tkg-git/b1d7ee352c4f4e1dcbc1cbf738975e51b87d6113/wine-tkg-git/wine-tkg-patches/misc/fastsync/ntsync5.patch
	sha256sums = 8281c5a082cc47ac3c2c91ceaade5f17396553b39adcb32e741253865b658162
	sha256sums = c0c846aa4a69032dac2184024efbb3f9a0ab555e11c2d64aa20be4d612ad2ffe

pkgname = wine-wow64-ntsync-minimal
