pkgbase = otf-berkeley-mono-slash-lig
	pkgdesc = A monospace font for professionals. (slashed 0 with ligatures)
	pkgver = 2.0.0
	pkgrel = 1
	url = https://usgraphics.com/products/berkeley-mono
	arch = any
	license = custom
	provides = otf-berkeley-mono
	conflicts = otf-berkeley-mono
	source = 2412271YRP00ZVX8.zip
	sha256sums = 01a65a5dc0d5514193164071e4ee78a93cec4a73cb6b8b1686f0343b4f56fe72

pkgname = otf-berkeley-mono-slash-lig
