pkgbase = git-credential-netrc
	pkgdesc = git-credentials helper for netrc
	pkgver = 2.56.0
	pkgrel = 1
	url = https://git-scm.com/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = python
	depends = perl
	source = https://www.kernel.org/pub/software/scm/git/git-2.56.0.tar.xz
	source = https://www.kernel.org/pub/software/scm/git/git-2.56.0.tar.sign
	validpgpkeys = 96E07AF25771955980DAD10020D04E5A713660A7
	sha256sums = 26c56c296b38c0695b26fa95f475f1d01704d2d38e73465ca30b0b2f5dc789d3
	sha256sums = SKIP

pkgname = git-credential-netrc
