pkgbase = git-credential-netrc
	pkgdesc = git-credentials helper for netrc
	pkgver = 2.51.1
	pkgrel = 1
	url = https://git-scm.com/
	arch = x86_64
	license = GPL2
	makedepends = python
	depends = perl
	source = https://www.kernel.org/pub/software/scm/git/git-2.51.1.tar.xz
	source = https://www.kernel.org/pub/software/scm/git/git-2.51.1.tar.sign
	validpgpkeys = 96E07AF25771955980DAD10020D04E5A713660A7
	sha256sums = a83fd9ffaed7eee679ed92ceb06f75b4615ebf66d3ac4fbdbfbc9567dc533f4a
	sha256sums = SKIP

pkgname = git-credential-netrc
