pkgbase = dex2jar-thexxturboxx
	pkgdesc = Tools to work with android .dex and java .class files (Nico Mexis fork)
	pkgver = 2.1.57
	pkgrel = 1
	url = https://github.com/ThexXTURBOXx/dex2jar
	arch = any
	license = Apache
	depends = java-runtime
	depends = bash
	provides = dex2jar
	conflicts = dex2jar
	source = https://github.com/ThexXTURBOXx/dex2jar/releases/download/v57/dex-tools-2.1-SNAPSHOT.zip
	sha256sums = 67d6f7c10ddf48162fb212bc4df247a4a10fd9212108f19800654c2b3408928e

pkgname = dex2jar-thexxturboxx
