pkgbase = juice-client
	pkgdesc = Juice GPU-over-IP - Client
	pkgver = 2022.12.13.2258
	pkgrel = 1
	url = https://www.juicelabs.co/
	arch = x86_64
	license = custom
	depends = libvulkan.so=1
	depends = libavcodec.so=59
	depends = libavutil.so=57
	depends = libswscale.so=6
	source = https://github.com/Juice-Labs/Juice-Labs/releases/download/2022-12-13-2258-fb13d0cc/JuiceClient-ubuntu-22.tar.gz
	sha256sums = d215ffb7daeec71a630ee7ea35a5e4688c366c18007bdfc5a91d5b3e40524da7

pkgname = juice-client
