pkgbase = wsl-x11-vsock
	pkgdesc = WSL2 VSOCK X11 Forwarding
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/willtrnr/aur
	arch = any
	license = MIT
	depends = socat
	source = x11-vsock.service
	source = x11-vsock.socket
	sha256sums = 0241fcc388780de7b2771dd0e74c73b806db3a37fd019d35db8ca075b50c96a8
	sha256sums = 1c8aa190cf358bd5b82249fc8385385b64090fbbad7ec625ba4be0bae3c99d6c

pkgname = wsl-x11-vsock
