[Unit]
Description=WSL Make Root Shared
ConditionVirtualization=wsl
DefaultDependencies=no
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mount --make-rshared /

[Install]
WantedBy=sysinit.target
