[Unit]
Description=WSL X11 VSOCK Tunnel :%i
ConditionVirtualization=wsl

[Socket]
ListenStream=%T/.X11-unix/X%i
Accept=yes

[Install]
WantedBy=sockets.target
