[Unit]
Description=WSL VSOCK X11 Forwarding
ConditionVirtualization=wsl

[Socket]
ListenStream=%T/.X11-unix/X%I
Accept=yes

[Install]
WantedBy=sockets.target
