pkgbase = wsl-vpnkit-bin
	pkgdesc = Provides network connectivity to WSL 2 when blocked by VPN
	pkgver = 0.8.8
	pkgrel = 1
	url = https://github.com/sakai135/wsl-vpnkit
	arch = x86_64
	license = Apache-2.0
	depends = iproute2
	depends = iptables
	provides = wsl-vpnkit
	conflicts = wsl-vpnkit
	source = https://github.com/containers/gvisor-tap-vsock/releases/download/v0.8.8/gvforwarder
	source = https://github.com/containers/gvisor-tap-vsock/releases/download/v0.8.8/gvproxy-windows.exe
	source = https://github.com/containers/gvisor-tap-vsock/raw/refs/tags/v0.8.8/LICENSE
	source = 80-wsltap.network
	source = wsl-vpnkit.service
	source = wsl-vpnkit-fw
	sha256sums = 4b674c0f4b8407c909cb440357ace2b8e733783b49b5583541552ef6fdaa592d
	sha256sums = 08241e3267fde0efdcfd383e77e3c11c8b7099274843b168e3c3824923da591d
	sha256sums = cfc7749b96f63bd31c3c42b5c471bf756814053e847c10f3eb003417bc523d30
	sha256sums = 2dbcf00888c7606c1fcd26fff84db2df5aca64c77f0c61f743951c3fb59b1027
	sha256sums = 613ef62cb1e9989ab93af7933719749c5aa3fbaa877efa49b64a9c7d7866c46b
	sha256sums = 4c0a89942bb2c13a09cbede93ed66659207c69591e754bff1c9e749e57efa589

pkgname = wsl-vpnkit-bin
