pkgbase = wsl-vpnkit-bin
	pkgdesc = Provides network connectivity to WSL 2 when blocked by VPN
	pkgver = 0.4.1
	pkgrel = 4
	url = https://github.com/sakai135/wsl-vpnkit
	arch = x86_64
	license = MIT
	depends = iproute2
	depends = iptables
	provides = wsl-vpnkit
	conflicts = wsl-vpnkit
	noextract = wsl-vpnkit-0.4.1.tar.gz
	source = wsl-vpnkit-0.4.1.tar.gz::https://github.com/sakai135/wsl-vpnkit/releases/download/v0.4.1/wsl-vpnkit.tar.gz
	source = https://github.com/sakai135/wsl-vpnkit/raw/refs/tags/v0.4.1/LICENSE
	source = 80-wsltap.network
	source = wsl-vpnkit.service
	source = wsl-vpnkit-fw
	sha256sums = 509ef76e6fc0d4d945247b08f323de5b34c6c7ce0b57376680eb8ad7e3a74ed5
	sha256sums = e17cdceb658ee2bba093e91c292b810ae413581a3be74828514c02fa76bb756a
	sha256sums = 2dbcf00888c7606c1fcd26fff84db2df5aca64c77f0c61f743951c3fb59b1027
	sha256sums = 855f98b4d23f790463243ec3078743e868a62fd768f09cb22825b1af29faa11a
	sha256sums = e0b5fd1c260d66f8b4adc7aa190238174c2b7fbc0cf8cc6f770905d7cb852808

pkgname = wsl-vpnkit-bin
