[Unit]
Description=@@PKGNAME@@
ConditionVirtualization=wsl
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/modprobe tap
ExecStart=/usr/bin/@@PKGNAME@@
Environment=VMEXEC_PATH=/usr/lib/@@PKGNAME@@/wsl-vm
Environment=GVPROXY_PATH=/usr/lib/@@PKGNAME@@/wsl-gvproxy.exe
EnvironmentFile=-/etc/conf.d/@@PKGNAME@@
KillMode=mixed
Restart=on-failure

[Install]
WantedBy=multi-user.target
