[Unit]
Description=wsl-vpnkit
ConditionVirtualization=wsl
After=network.target

[Service]
Type=simple
ExecStart=/usr/lib/wsl-vpnkit/wsl-vm -url='stdio:/usr/lib/wsl-vpnkit/wsl-gvproxy.exe?listen-stdio=accept' -iface=wsltap -preexisting=1 -stop-if-exist=''
ExecStartPost=/usr/lib/wsl-vpnkit/wsl-vpnkit-fw up
ExecStopPost=/usr/lib/wsl-vpnkit/wsl-vpnkit-fw down
Restart=on-failure

[Install]
WantedBy=multi-user.target
