pkgbase = ttf-berkeley-mono-nerd-slash-lig
	pkgdesc = A monospace font for professionals. (nerd patched) (slashed 0 with ligatures)
	pkgver = 2.002+3.4.0
	pkgrel = 1
	url = https://usgraphics.com/products/berkeley-mono
	arch = any
	license = custom
	makedepends = fontforge
	makedepends = ttf-berkeley-mono-slash-lig=2.002
	provides = ttf-berkeley-mono-nerd
	conflicts = ttf-berkeley-mono-nerd
	source = https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/FontPatcher.zip
	source = 31-ttf-berkeley-mono-nerd.conf
	source = 41-ttf-berkeley-mono-nerd.conf
	source = 61-ttf-berkeley-mono-nerd.conf
	sha256sums = a8f11e511ed7c69e96680858c06b50a643ea7752e26d5cd13dd5e5cc53ab1760
	sha256sums = 1b2e94c17cf4d0e8f562502a71c2b96c6fb0cf40a881b22e4cf5c54262d7aa1f
	sha256sums = 2bcf76bc879eede708e8bd7cf8a8f516937a3c803d037efc71bdbe66a8eba48b
	sha256sums = e28c39c2587a767a90c7fee890ba76cd027290aa5b8678e1428721602f4ce829

pkgname = ttf-berkeley-mono-nerd-slash-lig
