pkgbase = ttf-berkeley-mono-nerd-slash-lig
	pkgdesc = A monospace font for professionals. (nerd patched) (slashed 0 with ligatures)
	pkgver = 2.0.0
	pkgrel = 1
	url = https://usgraphics.com/products/berkeley-mono
	arch = any
	license = custom
	makedepends = fontforge
	makedepends = ttf-berkeley-mono-slash-lig
	provides = ttf-berkeley-mono-nerd
	conflicts = ttf-berkeley-mono-nerd
	source = https://github.com/ryanoasis/nerd-fonts/releases/download/v3.3.0/FontPatcher.zip
	source = 32-ttf-berkeley-mono-nerd.conf
	source = 42-ttf-berkeley-mono-nerd.conf
	source = 62-ttf-berkeley-mono-nerd.conf
	sha256sums = ce4284e7d1a8816d29bb3a358e33a44e55804792e7925ed0022ba1b3ab1a9d34
	sha256sums = 41dc862043c728d0cb7e62ca77e42098d89bb9b0c040839161ab6dc988ef1ea2
	sha256sums = 2bcf76bc879eede708e8bd7cf8a8f516937a3c803d037efc71bdbe66a8eba48b
	sha256sums = e28c39c2587a767a90c7fee890ba76cd027290aa5b8678e1428721602f4ce829

pkgname = ttf-berkeley-mono-nerd-slash-lig
