pkgbase = ravi
	pkgdesc = Dialect of Lua, featuring limited optional static typing, JIT and AOT compilers.
	pkgver = 1.0.beta11
	pkgrel = 1
	url = http://ravilang.github.io/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	depends = glibc
	source = ravi-1.0.beta11::git+https://github.com/dibyendumajumdar/ravi.git#tag=1.0-beta11
	sha256sums = SKIP

pkgname = ravi
