pkgbase = mega-sdk
	pkgdesc = Official mega.nz SDK
	pkgver = 3.5.2
	pkgrel = 1
	url = https://github.com/meganz/sdk
	arch = i686
	arch = x86_64
	license = BSD-2-Clause
	makedepends = swig
	depends = c-ares
	depends = crypto++
	depends = curl
	depends = fuse
	depends = libsodium
	depends = libuv
	depends = openssl
	depends = readline
	depends = sqlite
	depends = zlib
	source = https://github.com/meganz/sdk/archive/v3.5.2.tar.gz
	sha256sums = 0d2c0ce2964d3fcd234631f18c01eb2b53b6aece3079220d2a2b4ba535761ff5

pkgname = mega-sdk
