pkgbase = wine-ntsync-minimal
	pkgdesc = A compatibility layer for running Windows programs (minimal Wow64 with NTSync)
	pkgver = 9.2
	pkgrel = 1
	url = https://www.winehq.org
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = autoconf
	makedepends = bison
	makedepends = flex
	makedepends = gnutls
	makedepends = lib32-gnutls
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxxf86vm
	makedepends = lib32-libxxf86vm
	makedepends = mesa
	makedepends = lib32-mesa
	makedepends = mesa-libgl
	makedepends = lib32-mesa-libgl
	makedepends = mingw-w64-gcc
	makedepends = ntsync-header
	makedepends = perl
	makedepends = samba
	makedepends = sdl2
	makedepends = lib32-sdl2
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = lib32-vulkan-icd-loader
	makedepends = freetype2
	makedepends = lib32-freetype2
	makedepends = gcc-libs
	makedepends = lib32-gcc-libs
	makedepends = libunwind
	makedepends = lib32-libunwind
	makedepends = libxi
	makedepends = lib32-libxi
	makedepends = libxkbcommon
	makedepends = lib32-libxkbcommon
	makedepends = libxrandr
	makedepends = lib32-libxrandr
	makedepends = wayland
	makedepends = lib32-wayland
	depends = freetype2
	depends = lib32-freetype2
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = libunwind
	depends = lib32-libunwind
	depends = libxi
	depends = lib32-libxi
	depends = libxkbcommon
	depends = lib32-libxkbcommon
	depends = libxrandr
	depends = lib32-libxrandr
	depends = wayland
	depends = lib32-wayland
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = samba
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = wine-gecko
	optdepends = wine-mono
	provides = wine=9.2
	conflicts = wine
	options = staticlibs
	options = !lto
	source = https://dl.winehq.org/wine/source/9.x/wine-9.2.tar.xz
	source = https://raw.githubusercontent.com/Frogging-Family/wine-tkg-git/b1d7ee352c4f4e1dcbc1cbf738975e51b87d6113/wine-tkg-git/wine-tkg-patches/misc/fastsync/ntsync5.patch
	sha256sums = 8281c5a082cc47ac3c2c91ceaade5f17396553b39adcb32e741253865b658162
	sha256sums = c0c846aa4a69032dac2184024efbb3f9a0ab555e11c2d64aa20be4d612ad2ffe

pkgname = wine-ntsync-minimal
