pkgbase = ttf-berkeley-mono-slash-lig
	pkgdesc = A monospace font for professionals. (slashed 0 with ligatures)
	pkgver = 2.0.0
	pkgrel = 1
	url = https://usgraphics.com/products/berkeley-mono
	arch = any
	license = custom
	provides = ttf-berkeley-mono
	conflicts = ttf-berkeley-mono
	source = 2412274379MM5M84.zip
	source = 32-ttf-berkeley-mono.conf
	source = 42-ttf-berkeley-mono.conf
	source = 62-ttf-berkeley-mono.conf
	sha256sums = 1c4a92d75d9b139feacf4e8896dbe88aba1b6c1381c5a9e50541a681a7eddaac
	sha256sums = 00546c55b18be6da335c63415a3c0f23f0c8780d29972d48f52ee8b921767b4b
	sha256sums = aa91fcc1a30aad67ac017105f936ef0e3069249f8740775fed81673a706ebdb9
	sha256sums = 1c3d8b0fdda39a1a6eb24a508a7822bd12b27dae2ca3e912d8606d54f7167ba5

pkgname = ttf-berkeley-mono-slash-lig
