pkgbase = ttf-berkeley-mono-slash-lig
	pkgdesc = A monospace font for professionals. (slashed 0 with ligatures)
	pkgver = 2.0.0
	pkgrel = 1
	url = https://usgraphics.com/products/berkeley-mono
	arch = any
	license = custom
	provides = ttf-berkeley-mono
	conflicts = ttf-berkeley-mono
	source = 2412274379MM5M84.zip
	sha256sums = 1c4a92d75d9b139feacf4e8896dbe88aba1b6c1381c5a9e50541a681a7eddaac

pkgname = ttf-berkeley-mono-slash-lig
