pkgbase = gpp
	pkgdesc = General-purpose preprocessor with customizable syntax, suitable for a wide range of preprocessing tasks
	pkgver = 2.28
	pkgrel = 1
	url = http://en.nothingisreal.com/wiki/GPP
	arch = x86_64
	license = LGPL2.1
	depends = glibc
	source = gpp::git+https://github.com/logological/gpp.git#tag=2.28
	validpgpkeys = 28F47A15AB82C216D278DEB92B119C3AEFBF4915
	sha256sums = SKIP

pkgname = gpp
