pkgbase = ilograph-desktop-bin
	pkgdesc = Create interactive system architecture diagrams to document, share, and explain your systems with incredible clarity and detail.
	pkgver = 1.8.7
	pkgrel = 2
	url = https://www.ilograph.com/
	arch = x86_64
	license = proprietary
	depends = alsa-lib
	depends = dbus
	depends = gtk2
	depends = gtk3
	depends = libcups
	depends = nss
	provides = ilograph-desktop
	conflicts = ilograph-desktop
	source = https://www.ilograph.com/desktop/release/Ilograph+Desktop-1.8.7.AppImage
	sha256sums = 794a627a5e7ae4e88cc551e66d600b404d1c6e14cc1f3f24fed4a5b8d55c589f

pkgname = ilograph-desktop-bin
