pkgbase = st-willtrnr-flexipatch-git
	pkgdesc = A simple virtual terminal emulator for X. (willtrnr flexipatch)
	pkgver = 0.9.2.r305.4dec55e
	pkgrel = 1
	url = https://st.suckless.org
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = MIT
	depends = fontconfig
	depends = freetype2
	depends = harfbuzz
	depends = imlib2
	depends = libx11
	depends = libxft
	provides = st
	conflicts = st
	replaces = st-willtrnr
	source = st::git+https://github.com/bakkeby/st-flexipatch.git
	source = boxdraw.patch
	source = font.patch
	source = fork.patch
	source = nordtheme.patch
	source = scrollback.patch
	source = terminfo.patch
	sha256sums = SKIP
	sha256sums = e1ea6df07517274db55cf267c2268d4b50476de8fa072158d812c8244cbd2a56
	sha256sums = d94d06ded5ee18be750d0159458c71e71c9e199391213e6a670dab4a0c4bf0d3
	sha256sums = 468e55037f10e9327e5a2a22f9fafae3fc2ad9a97354eb5be10710a44f2b1fdc
	sha256sums = dcb86da8e6f8e4341b04454c6c92f22dfd30b7f7cb195ffab9598964cb571daa
	sha256sums = aa3c245ea849341dea410964f409d1cff91a03366cb3e1dadb51a642d433e8ac
	sha256sums = b081c1f887fef920aa8ee16c838a02f08ad0ca8fb13c68b4bd0cbc58c3af8921

pkgname = st-willtrnr-flexipatch-git
